spring:
  datasource:
    url: jdbc:h2:file:./data/blogx;MODE=MYSQL;DATABASE_TO_UPPER=false
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always
mybatis:
  mapper-locations: classpath:/mappers/*.xml
  type-aliases-package: com.example.blogx.post
  configuration:
    map-underscore-to-camel-case: true
server:
  port: 8080
  servlet:
    context-path: /
springdoc:
  api-docs:
    enabled: false
