@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

:root[data-theme='dark'] body {
  color: #e2e8f0;
}

:root[data-theme='dark'] body {
  background-color: #050a1a;
}

:root[data-theme='dark'] a,
:root[data-theme='dark'] button {
  color: inherit;
}

button {
  color: inherit;
}

a {
  color: inherit;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
}

.custom-select::-ms-expand {
  display: none;
}
